@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "geist-mono";
  src:
    url("/fonts/GeistMonoVF.woff2") format("woff2"),
    url("/fonts/GeistMonoVF.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@layer base {
  :root {
    --base-animation-delay: 80ms;
  }

  * {
    @apply box-border min-w-0;
  }
  body {
    @apply font-geist-mono bg-zinc-900 antialiased;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-balance;
  }

  p {
    @apply text-pretty;
  }
}

h6 {
  color: hsl(0, 0%, 90%);
}
